* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 15vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    min-height: 60vh;
    margin: auto;
}

.container {
    width: 80vw;
}
footer {
    height: 10vh;
    background-color: rgb(27, 28, 28);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}